Repository woowacourse-teams/2021-tyf, pull requests merged in 2021-08, with the labels that each got.

#214 hotfix: 배포 후 검증 이슈 사항
  client/src/components/Donation/AmountForm/DonationAmountForm.styles.ts
  client/src/components/Donation/AmountForm/DonationAmountForm.tsx
  client/src/components/Donation/DonatorForm/DonatorForm.tsx
  client/src/components/Register/TermsForm/RegisterTermsForm.tsx
  client/src/components/Setting/UserSettingForm/UserSettingForm.tsx
  client/src/constants/donation.ts
  client/src/service/hooks/useDonationAmountForm.ts
  client/src/service/hooks/useSettingForm.ts
  client/src/service/hooks/useURLBanner.ts
  client/src/service/popup.ts
  client/src/service/share.ts
  client/src/service/state/login.ts
  server/src/main/java/com/example/tyfserver/member/dto/CurationsResponse.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: client, server

#231 [#219] 후원 금액 입력 유효메세지 제거
  client/src/components/Donation/AmountForm/DonationAmountForm.styles.ts
  client/src/components/Donation/AmountForm/DonationAmountForm.tsx
Labels: client

#233 [#215] 이미 가입되어 있는 사용자가 회원가입 시도 플로우 추가
  client/src/constants/error.ts
  client/src/service/hooks/useRegisterEffect.ts
Labels: bug, client

#235 [#216] 자기소개 최대 글자수 제한
  client/src/components/Setting/UserSettingForm/UserSettingForm.styles.ts
  client/src/components/Setting/UserSettingForm/UserSettingForm.tsx
Labels: client

#236 [#218] 클라이언트 아임포트 가맹점식별코드 변경
  client/src/service/hooks/useDonation.ts
Labels: client

#237 [#223] 회원 자신의 후원메세지 유효하지 않은 토큰시 처리 플로우
  client/src/constants/error.ts
  client/src/service/hooks/useDonationMessageList.ts
Labels: bug, client

#238 Footer 고객센터 전화, 이메일 추가
  client/src/components/Footer/Footer.styles.tsx
  client/src/components/Footer/Footer.tsx
Labels: client

#241 [#240] 후원 이메일 인증 페이지 마크업 구현
  client/src/App.tsx
  client/src/components/Refund/CertificationForm/RefundCertificationForm.stories.tsx
  client/src/components/Refund/CertificationForm/RefundCertificationForm.styles.ts
  client/src/components/Refund/CertificationForm/RefundCertificationForm.tsx
  client/src/pages/Refund/Certification/RefundCertificationPage.stories.tsx
  client/src/pages/Refund/Certification/RefundCertificationPage.styles.ts
  client/src/pages/Refund/Certification/RefundCertificationPage.tsx
Labels: client

#243 [hotfix][#224, #239] 테스트 리팩토링 및 큐레이션 API 리팩토링
  server/build.gradle
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/auth/dto/TokenResponse.java
  server/src/main/java/com/example/tyfserver/auth/service/Oauth2Service.java
  server/src/main/java/com/example/tyfserver/auth/util/Oauth2ServiceConnector.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/CurationsResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/PageNameRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/PageNameValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/main/java/com/example/tyfserver/payment/util/IamPortPaymentServiceConnector.java
  server/src/main/resources/application-oauth2-dev.yml
  server/src/main/resources/application-oauth2-prod.yml
  server/src/main/resources/application.yml
  server/src/test/java/com/example/tyfserver/AcceptanceTest.java
  server/src/test/java/com/example/tyfserver/auth/AuthAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/auth/controller/Oauth2ControllerTest.java
  server/src/test/java/com/example/tyfserver/auth/service/Oauth2ServiceTest.java
  server/src/test/java/com/example/tyfserver/banner/BannerAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
  server/src/test/java/com/example/tyfserver/payment/PaymentAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/payment/repository/PaymentRepositoryTest.java
  server/src/test/java/com/example/tyfserver/payment/service/PaymentServiceTest.java
Labels: bug, document, refactor, server, test

#244 [#226]AWS cloudwatch 도입
  .gitignore
  server/build.gradle
  server/src/main/java/com/example/tyfserver/common/config/GlobalExceptionHandler.java
  server/src/main/java/com/example/tyfserver/payment/dto/PaymentPendingRequest.java
  server/src/main/resources/appender/aws-log-appender.xml
  server/src/main/resources/appender/file-appender.xml
  server/src/main/resources/appender/slack-async-error-appender.xml
  server/src/main/resources/appender/slack-async-info-appender.xml
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/main/resources/logback-access.xml
  server/src/main/resources/logback-spring.xml
  server/src/main/resources/static/docs/index.html
Labels: infra, server

#245 Client Git Action CICD yml 작성
  .github/workflows/main.yml
Labels: client

#260 [#259] 정산 관리 페이지 마크업 및 기능 구현
  client/src/App.tsx
  client/src/components/@molecule/Carousel/Carousel.styles.ts
  client/src/components/@molecule/Carousel/Carousel.tsx
  client/src/components/Main/CreatorList/Desktop/DesktopCreatorList.styles.ts
  client/src/components/Menu/Desktop/DesktopMenu.tsx
  client/src/components/Menu/Mobile/MobileMenu.tsx
  client/src/components/Settlement/Info/Desktop/DesktopSettlementInfo styles.ts
  client/src/components/Settlement/Info/Desktop/DesktopSettlementInfo.stories.tsx
  client/src/components/Settlement/Info/Desktop/DesktopSettlementInfo.tsx
  client/src/components/Settlement/Info/Mobile/MobileSettlementInfo styles.ts
  client/src/components/Settlement/Info/Mobile/MobileSettlementInfo.stories.tsx
  client/src/components/Settlement/Info/Mobile/MobileSettlementInfo.tsx
  client/src/components/Settlement/Info/SettlementInfo.tsx
  client/src/constants/style.ts
  client/src/pages/Settlement/SettlementPage.stories.tsx
  client/src/pages/Settlement/SettlementPage.styles.ts
  client/src/pages/Settlement/SettlementPage.tsx
  client/src/service/hooks/creator/useCreatorList.ts
  client/src/service/hooks/donation/useDonation.ts
  client/src/service/hooks/user/useSettlement.ts
  client/src/service/hooks/user/useStatistics.ts
  client/src/service/request/refund.ts
  client/src/service/state/settlement.ts
  client/src/utils/useWindowResize.ts
Labels: feature, client

#262 [#247] 현재 보유 포인트, 정산 가능 포인트, 정산 완료 총 포인트 조회를 한다
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/config/RefundAuthenticationArgumentResolver.java
  server/src/main/java/com/example/tyfserver/auth/dto/VerifiedRefunder.java
  server/src/main/java/com/example/tyfserver/auth/service/AuthenticationService.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/DonationStatus.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationQueryRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/DetailedPointResponse.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/java/com/example/tyfserver/payment/controller/PaymentController.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
  server/src/test/java/com/example/tyfserver/payment/PaymentAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/payment/controller/PaymentControllerTest.java
  server/src/test/java/com/example/tyfserver/payment/service/PaymentServiceTest.java
Labels: feature, server

#275 [#274] 어드민 페이지 구현
  client/admin/.eslintrc.json
  client/admin/.gitignore
  client/admin/.prettierrc
  client/admin/.storybook/main.js
  client/admin/.storybook/preview.js
  client/admin/mock/handlers.ts
  client/admin/mock/server.ts
  client/admin/package.json
  client/admin/public/favicon.ico
  client/admin/public/index.html
  client/admin/src/App.tsx
  client/admin/src/Global.styles.ts
  client/admin/src/components/@atom/Button/Button.styles.ts
  client/admin/src/components/@atom/Input/Input.styles.ts
  client/admin/src/components/@atom/Template/Template.styles.ts
  client/admin/src/components/@atom/Template/Template.tsx
  client/admin/src/components/Login/LoginForm.styles.ts
  client/admin/src/components/Login/LoginForm.tsx
  client/admin/src/components/NavBar/NavBar.styles.ts
  client/admin/src/components/NavBar/NavBar.tsx
  client/admin/src/components/Refund/Refund.styles.ts
  client/admin/src/components/Refund/Refund.tsx
  client/admin/src/components/Settlement/Settlement.styles.ts
  client/admin/src/components/Settlement/Settlement.tsx
  client/admin/src/components/request/request.ts
  client/admin/src/constants/api.ts
  client/admin/src/constants/device.ts
  client/admin/src/constants/palette.ts
  client/admin/src/index.tsx
  client/admin/src/pages/loginPage.tsx
  client/admin/src/pages/refundPage.tsx
  client/admin/src/pages/settlementPage.tsx
  client/admin/src/service/useLoginForm.ts
  client/admin/src/service/useSettlement.ts
  client/admin/src/setupTests.ts
  client/admin/src/type.ts
  client/admin/tsconfig.json
  client/admin/webpack.config.ts
  client/admin/yarn.lock
  client/src/pages/Register/Success/RegisterSuccessPage.tsx
Labels: feature, client

#273 [#265] 어드민 페이지 접속 API
  server/src/main/java/com/example/tyfserver/admin/controller/AdminController.java
  server/src/main/java/com/example/tyfserver/admin/domain/AdminAccount.java
  server/src/main/java/com/example/tyfserver/admin/dto/AdminLoginRequest.java
  server/src/main/java/com/example/tyfserver/admin/exception/InvalidAdminException.java
  server/src/main/java/com/example/tyfserver/admin/service/AdminService.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationInterceptor.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/service/AuthenticationService.java
  server/src/main/java/com/example/tyfserver/auth/util/JwtTokenProvider.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/test/java/com/example/tyfserver/admin/controller/AdminControllerTest.java
  server/src/test/java/com/example/tyfserver/admin/service/AdminServiceTest.java
Labels: feature, server

#266 [#250]백오피스에서 정산 가능 계정을 승인 및 반려 한다.
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/DataLoader.java
  server/src/main/java/com/example/tyfserver/admin/controller/AdminController.java
  server/src/main/java/com/example/tyfserver/admin/dto/AccountRejectRequest.java
  server/src/main/java/com/example/tyfserver/admin/dto/RequestingAccountResponse.java
  server/src/main/java/com/example/tyfserver/admin/service/AdminService.java
  server/src/main/java/com/example/tyfserver/common/util/S3Connector.java
  server/src/main/java/com/example/tyfserver/common/util/SmtpMailConnector.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/domain/Account.java
  server/src/main/java/com/example/tyfserver/member/domain/AccountStatus.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/AccountInfoResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/AccountRegisterRequest.java
  server/src/main/java/com/example/tyfserver/member/exception/AccountRegisterValidationRequestException.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberQueryRepository.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/AcceptanceTest.java
  server/src/test/java/com/example/tyfserver/admin/AdminAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/admin/controller/AdminControllerTest.java
  server/src/test/java/com/example/tyfserver/admin/service/AdminServiceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: feature, server

#272 [#248, #251, #252] 정산을 신청한다, 정산 정보를 볼 수 있다, 정산완료를 할 수 있다.
  README.md
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/admin/controller/AdminController.java
  server/src/main/java/com/example/tyfserver/admin/dto/ExchangeRejectRequest.java
  server/src/main/java/com/example/tyfserver/admin/dto/ExchangeResponse.java
  server/src/main/java/com/example/tyfserver/admin/service/AdminService.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/common/util/SmtpMailConnector.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationQueryRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/domain/Exchange.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/domain/Point.java
  server/src/main/java/com/example/tyfserver/member/exception/AlreadyRequestExchangeException.java
  server/src/main/java/com/example/tyfserver/member/exception/ExchangeAmountException.java
  server/src/main/java/com/example/tyfserver/member/repository/ExchangeRepository.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/java/com/example/tyfserver/payment/dto/RefundInfoResponse.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/test/java/com/example/tyfserver/AcceptanceTest.java
  server/src/test/java/com/example/tyfserver/admin/AdminAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/admin/controller/AdminControllerTest.java
  server/src/test/java/com/example/tyfserver/admin/service/AdminServiceTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/repository/ExchangeRepositoryTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
  server/src/test/java/com/example/tyfserver/payment/PaymentAcceptanceTest.java
Labels: feature, server

#279 [#265] 정산 플로우 리팩토링
  server/src/main/java/com/example/tyfserver/member/dto/MemberResponse.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: feature, server

#280 [fix] 취소사유 받아오지 못하는 현상 수정
  server/src/main/java/com/example/tyfserver/admin/controller/AdminController.java
  server/src/test/java/com/example/tyfserver/admin/AdminAcceptanceTest.java
Labels: bug, server

#289 [#282, #283] 후원 시에 주문번호 이메일을 보낸다 / 정산 계정 정보에 대한 필드 종류를 추가한다
  server/src/main/java/com/example/tyfserver/admin/dto/ExchangeResponse.java
  server/src/main/java/com/example/tyfserver/admin/service/AdminService.java
  server/src/main/java/com/example/tyfserver/common/config/EmbeddedRedisConfig.java
  server/src/main/java/com/example/tyfserver/common/util/SmtpMailConnector.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/domain/Exchange.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/java/com/example/tyfserver/payment/domain/Payment.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/test/java/com/example/tyfserver/admin/controller/AdminControllerTest.java
  server/src/test/java/com/example/tyfserver/admin/service/AdminServiceTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/repository/ExchangeRepositoryTest.java
Labels: server, refactor

#294 [#284]이메일 발송시 HTML 템플릿을 이용해 전송한다
  server/build.gradle
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/common/exception/SendingMailFailedException.java
  server/src/main/java/com/example/tyfserver/common/util/SmtpMailConnector.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/MemberBioUpdateRequest.java
  server/src/main/resources/static/index.html
  server/src/main/resources/static/logo.png
  server/src/main/resources/static/logo.svg
  server/src/main/resources/static/please.png
  server/src/main/resources/templates/mail-basic.html
  server/src/main/resources/templates/mail-donation-complete.html
  server/src/main/resources/templates/mail-verification-code.html
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
Labels: feature, server

#308 [hotfix] 이메일 내용 안나오는 현상 수정
  server/src/main/resources/templates/mail-basic.html
Labels: server, hotfix

#310 [#309] jacoco 추가
  server/build.gradle
Labels: feature, server

#311 [#309] jacoco 추가2
  server/.gitignore
  server/build.gradle
Labels: server, refactor

#315 [hotfix]업로드 메일사이즈 수정
  server/src/main/resources/application.yml
Labels: server, hotfix
