Repository woowacourse-teams/2021-tyf, pull requests merged in 2021-07, with the labels that each got.

#6 [#4] 기본 도메인 구현
  server/src/main/java/com/example/tyfserver/banner/domain/Banner.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/resources/application.properties
  server/src/main/resources/application.yml
Labels: feature, server

#10 [#8] 배너 생성 및 목록 조회 API 구현
  server/.gitignore
  server/build.gradle
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/server.md
  server/settings.gradle
  server/src/main/java/com/example/tyfserver/TyfServerApplication.java
  server/src/main/java/com/example/tyfserver/banner/controller/BannerController.java
  server/src/main/java/com/example/tyfserver/banner/domain/Banner.java
  server/src/main/java/com/example/tyfserver/banner/domain/BannerRepository.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerRequest.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerResponse.java
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/common/dto/ErrorResponse.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/domain/MemberRepository.java
  server/src/main/java/com/example/tyfserver/member/domain/Point.java
  server/src/main/resources/application.yml
  server/src/test/java/com/example/tyfserver/TyfServerApplicationTests.java
  server/src/test/java/com/example/tyfserver/banner/domain/BannerRepositoryTest.java
  server/src/test/java/com/example/tyfserver/banner/service/BannerServiceTest.java
Labels: feature, server

#9 [#7] 후원 요청 및 메시지 전송 API 구현
  server/src/main/java/com/example/tyfserver/common/dto/ErrorDto.java
  server/src/main/java/com/example/tyfserver/common/dto/ErrorResponse.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationMessageRequest.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationRequest.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/domain/Point.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/main/resources/application.yml
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
Labels: feature, server

#12 [#12] 배너 생성 및 목록 조회 API 구현
  README.md
  server/build.gradle
  server/src/main/java/com/example/tyfserver/banner/controller/BannerController.java
  server/src/main/java/com/example/tyfserver/banner/domain/Banner.java
  server/src/main/java/com/example/tyfserver/banner/domain/BannerRepository.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerRequest.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerResponse.java
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/common/dto/ErrorResponse.java
  server/src/main/java/com/example/tyfserver/member/domain/MemberRepository.java
  server/src/main/resources/application.yml
  server/src/test/java/com/example/tyfserver/banner/domain/BannerRepositoryTest.java
  server/src/test/java/com/example/tyfserver/banner/service/BannerServiceTest.java
Labels: feature, server

#13 [#11] 도메인 createdDate 추가
  server/src/main/java/com/example/tyfserver/TyfServerApplication.java
  server/src/main/java/com/example/tyfserver/banner/domain/Banner.java
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/common/domain/BaseTimeEntity.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/domain/MemberRepository.java
  server/src/test/java/com/example/tyfserver/banner/domain/BannerRepositoryTest.java
Labels: feature, server

#22 [#14] 공통 컴포넌트 마크업
  client/.DS_Store
  client/.eslintrc.json
  client/.gitignore
  client/.prettierrc
  client/.storybook/main.js
  client/.storybook/preview.js
  client/client.md
  client/mock/handlers.ts
  client/mock/server.ts
  client/package.json
  client/public/index.html
  client/src/App.tsx
  client/src/Global.styles.ts
  client/src/components/@atom/Anchor/Anchor.stories.tsx
  client/src/components/@atom/Anchor/Anchor.styles.ts
  client/src/components/@atom/Anchor/Anchor.tsx
  client/src/components/@atom/Button/Button.stories.tsx
  client/src/components/@atom/Button/Button.styles.ts
  client/src/components/@atom/Button/Button.tsx
  client/src/components/@atom/Checkbox/Checkbox.stories.tsx
  client/src/components/@atom/Checkbox/Checkbox.styles.ts
  client/src/components/@atom/Checkbox/Checkbox.tsx
  client/src/components/@atom/Container/Container.styles.ts
  client/src/components/@atom/Container/Container.tsx
  client/src/components/@atom/Input/Input.stories.tsx
  client/src/components/@atom/Input/Input.styles.ts
  client/src/components/@atom/Input/Input.tsx
  client/src/components/@atom/Template/Template.styles.ts
  client/src/components/@atom/Template/Template.tsx
  client/src/components/@atom/Textarea/Textarea.stories.tsx
  client/src/components/@atom/Textarea/Textarea.styles.ts
  client/src/components/@atom/Textarea/Textarea.tsx
  client/src/components/@atom/Title/Title.styles.ts
  client/src/components/@atom/Title/Title.tsx
  client/src/components/@molecule/InputWithMessage/InputWithMessage.stories.tsx
  client/src/components/@molecule/InputWithMessage/InputWithMessage.styles.ts
  client/src/components/@molecule/InputWithMessage/InputWithMessage.tsx
  client/src/components/@molecule/OutlineButton/OutlineButton.stories.tsx
  client/src/components/@molecule/OutlineButton/OutlineButton.styles.ts
  client/src/components/@molecule/OutlineButton/OutlineButton.tsx
  client/src/constants/palette.ts
  client/src/index.tsx
  client/src/setupTests.ts
  client/src/styled.d.ts
  client/src/theme.ts
  client/tsconfig.json
  client/webpack.config.ts
  client/yarn.lock
  node_modules/.yarn-integrity
  yarn.lock
Labels: client, feature

#23 [#14] 공통 컴포넌트 마크업
  client/.eslintrc.json
  client/.storybook/preview.js
  client/package.json
  client/public/index.html
  client/src/App.test.tsx
  client/src/App.tsx
  client/src/Global.styles.ts
  client/src/components/@atom/Anchor/Anchor.stories.tsx
  client/src/components/@atom/Anchor/Anchor.styles.ts
  client/src/components/@atom/Anchor/Anchor.tsx
  client/src/components/@atom/Button/Button.stories.tsx
  client/src/components/@atom/Button/Button.styles.ts
  client/src/components/@atom/Button/Button.tsx
  client/src/components/@atom/Checkbox/Checkbox.stories.tsx
  client/src/components/@atom/Checkbox/Checkbox.styles.ts
  client/src/components/@atom/Checkbox/Checkbox.tsx
  client/src/components/@atom/Container/Container.styles.ts
  client/src/components/@atom/Container/Container.tsx
  client/src/components/@atom/Input/Input.stories.tsx
  client/src/components/@atom/Input/Input.styles.ts
  client/src/components/@atom/Input/Input.tsx
  client/src/components/@atom/Template/Template.styles.ts
  client/src/components/@atom/Template/Template.tsx
  client/src/components/@atom/Textarea/Textarea.stories.tsx
  client/src/components/@atom/Textarea/Textarea.styles.ts
  client/src/components/@atom/Textarea/Textarea.tsx
  client/src/components/@atom/Title/Title.styles.ts
  client/src/components/@atom/Title/Title.tsx
  client/src/components/@molecule/InputWithMessage/InputWithMessage.stories.tsx
  client/src/components/@molecule/InputWithMessage/InputWithMessage.styles.ts
  client/src/components/@molecule/InputWithMessage/InputWithMessage.tsx
  client/src/components/@molecule/OutlineButton/OutlineButton.stories.tsx
  client/src/components/@molecule/OutlineButton/OutlineButton.styles.ts
  client/src/components/@molecule/OutlineButton/OutlineButton.tsx
  client/src/constants/palette.ts
  client/src/index.tsx
  client/src/styled.d.ts
  client/src/theme.ts
  client/tsconfig.json
  client/webpack.config.ts
  client/yarn.lock
Labels: client, feature

#17 [#15] JWT 토큰 관리와 인터셉터, ArgumentResolver 구현
  server/build.gradle
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationArgumentResolver.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationInterceptor.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/dto/LoginMember.java
  server/src/main/java/com/example/tyfserver/auth/dto/TokenResponse.java
  server/src/main/java/com/example/tyfserver/auth/service/AuthenticationService.java
  server/src/main/java/com/example/tyfserver/auth/util/AuthorizationExtractor.java
  server/src/main/java/com/example/tyfserver/auth/util/JwtTokenProvider.java
  server/src/main/java/com/example/tyfserver/common/dto/ErrorResponse.java
  server/src/main/resources/application.yml
  server/src/test/java/com/example/tyfserver/auth/domain/JwtTokenProviderTest.java
  server/src/test/java/com/example/tyfserver/auth/service/AuthenticationServiceTest.java
  server/src/test/java/com/example/tyfserver/banner/service/BannerServiceTest.java
Labels: feature, server

#36 [#34] OAuth2 로그인,회원가입 JWT 연동
  server/.gitignore
  server/src/main/java/com/example/tyfserver/auth/config/OAuth2Config.java
  server/src/main/java/com/example/tyfserver/auth/config/OAuth2TypeDependencyInjector.java
  server/src/main/java/com/example/tyfserver/auth/controller/OAuth2Controller.java
  server/src/main/java/com/example/tyfserver/auth/domain/GoogleOAuth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/KakaoOAuth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/NaverOAuth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/OAuth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/OAuth2Type.java
  server/src/main/java/com/example/tyfserver/auth/dto/LoginMember.java
  server/src/main/java/com/example/tyfserver/auth/dto/Oauth2Token.java
  server/src/main/java/com/example/tyfserver/auth/dto/TokenResponse.java
  server/src/main/java/com/example/tyfserver/auth/service/AuthenticationService.java
  server/src/main/java/com/example/tyfserver/auth/service/OAuth2Service.java
  server/src/main/java/com/example/tyfserver/common/dto/ErrorResponse.java
  server/src/main/java/com/example/tyfserver/common/util/ApiSender.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/SignUpResponse.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/main/java/com/example/tyfserver/oauth2/controller/OAuth2Controller.java
  server/src/main/java/com/example/tyfserver/oauth2/domain/GoogleOAuth2.java
  server/src/main/java/com/example/tyfserver/oauth2/domain/KakaoOAuth2.java
  server/src/main/java/com/example/tyfserver/oauth2/domain/NaverOAuth2.java
  server/src/main/java/com/example/tyfserver/oauth2/domain/OAuth2Type.java
  server/src/main/java/com/example/tyfserver/oauth2/domain/OAuth2Types.java
  server/src/main/java/com/example/tyfserver/oauth2/service/OAuth2Service.java
Labels: feature, server

#39 [#37] 회원가입(멤버 생성) API
  server/src/main/java/com/example/tyfserver/auth/controller/OAuth2Controller.java
  server/src/main/java/com/example/tyfserver/auth/domain/OAuth2Type.java
  server/src/main/java/com/example/tyfserver/auth/service/OAuth2Service.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/SignUpRequest.java
Labels: feature, server

#40 [#26] 메인페이지 마크업 구현
  client/src/assets/images/HeroContent.svg
  client/src/components/@atom/SubTitle/SubTitle.styles.ts
  client/src/components/@atom/SubTitle/SubTitle.tsx
  client/src/components/Main/CreatorCard/CreatorCard.stories.tsx
  client/src/components/Main/CreatorCard/CreatorCard.styles.ts
  client/src/components/Main/CreatorCard/CreatorCard.tsx
  client/src/components/Main/CreatorList/CreatorList.stories.tsx
  client/src/components/Main/CreatorList/CreatorList.styles.ts
  client/src/components/Main/CreatorList/CreatorList.tsx
  client/src/pages/Main/Main.styles.ts
  client/src/pages/Main/MainPage.stories.tsx
  client/src/pages/Main/MainPage.tsx
Labels: client, feature

#46 [#30] 후원자 후원 마크업 구현
  client/.vscode/settings.json
  client/src/components/@atom/Anchor/Anchor.styles.ts
  client/src/components/@atom/Anchor/Anchor.tsx
  client/src/components/@atom/Button/Button.tsx
  client/src/components/@atom/Checkbox/Checkbox.styles.ts
  client/src/components/@atom/Container/Container.tsx
  client/src/components/@atom/IconButton/IconButton.stories.tsx
  client/src/components/@atom/SubTitle/SubTitle.tsx
  client/src/components/@atom/Template/Template.styles.ts
  client/src/components/@atom/Template/Template.tsx
  client/src/components/@atom/Textarea/Textarea.stories.tsx
  client/src/components/@atom/Textarea/Textarea.tsx
  client/src/components/@atom/Title/Title.tsx
  client/src/components/@molecule/BarButtonWithIcon/BarButtonWithIcon.stories.tsx
  client/src/components/@molecule/BarButtonWithIcon/BarButtonWithIcon.styles.ts
  client/src/components/@molecule/BarButtonWithIcon/BarButtonWithIcon.tsx
  client/src/components/@molecule/InputWithMessage/InputWithMessage.styles.ts
  client/src/components/@molecule/InputWithMessage/InputWithMessage.tsx
  client/src/components/@molecule/OutlineBarButtonWithIcon/OutlineBarButtonWithIcon.stories.tsx
  client/src/components/@molecule/OutlineBarButtonWithIcon/OutlineBarButtonWithIcon.styles.ts
  client/src/components/@molecule/OutlineBarButtonWithIcon/OutlineBarButtonWithIcon.tsx
  client/src/components/@molecule/OutlineButton/OutlineButton.stories.tsx
  client/src/components/Creator/Comments/Comments.styles.tsx
  client/src/components/Creator/Comments/Comments.tsx
  client/src/components/Creator/Profile/Profile.styles.tsx
  client/src/components/Donation/DonationForm/DonationForm.stories.tsx
  client/src/components/Donation/DonationForm/DonationForm.styles.ts
  client/src/components/Donation/DonationForm/DonationForm.tsx
  client/src/components/Donation/MessageForm/DonationMessageForm.stories.tsx
  client/src/components/Donation/MessageForm/DonationMessageForm.styles.ts
  client/src/components/Donation/MessageForm/DonationMessageForm.tsx
  client/src/components/Footer/Footer.stories.tsx
  client/src/components/Main/CreatorCard/CreatorCard.stories.tsx
  client/src/components/Main/CreatorCard/CreatorCard.styles.ts
  client/src/components/Main/CreatorCard/CreatorCard.tsx
  client/src/components/Main/CreatorList/CreatorList.stories.tsx
  client/src/components/NavBar/NavBar.stories.tsx
  client/src/components/NavBar/NavBar.styles.ts
  client/src/pages/Donation/Donation/DonationPage.stories.tsx
  client/src/pages/Donation/Donation/DonationPage.styles.ts
  client/src/pages/Donation/Donation/DonationPage.tsx
  client/src/pages/Donation/Message/DonationMesagePage.stories.tsx
  client/src/pages/Donation/Message/DonationMessagePage.styles.ts
  client/src/pages/Donation/Message/DonationMessagePage.tsx
  client/src/pages/Donation/Success/DonationSuccessPage.stories.tsx
  client/src/pages/Donation/Success/DonationSuccessPage.styles.ts
  client/src/pages/Donation/Success/DonationSuccessPage.tsx
Labels: client, feature

#47 [#29] 햄버거 메뉴 마크업 구현
  client/src/components/@atom/Modal/Modal.styles.ts
  client/src/components/@atom/Modal/Modal.tsx
  client/src/components/Menu/Menu.stories.tsx
  client/src/components/Menu/Menu.styles.ts
  client/src/components/Menu/Menu.tsx
  client/src/constants/style.ts
Labels: client, feature

#53 [#49] 랜딩페이지 주소, 닉네임 유효성 검사, 창작자 정보 요청, 창작자 포인트 조회 API
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/config/OAuth2Config.java
  server/src/main/java/com/example/tyfserver/auth/config/OAuth2TypeDependencyInjector.java
  server/src/main/java/com/example/tyfserver/auth/config/Oauth2Config.java
  server/src/main/java/com/example/tyfserver/auth/controller/Oauth2Controller.java
  server/src/main/java/com/example/tyfserver/auth/domain/GoogleOauth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/KakaoOauth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/NaverOauth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/Oauth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/Oauth2Type.java
  server/src/main/java/com/example/tyfserver/auth/dto/LoginMember.java
  server/src/main/java/com/example/tyfserver/auth/service/AuthenticationService.java
  server/src/main/java/com/example/tyfserver/auth/service/Oauth2Service.java
  server/src/main/java/com/example/tyfserver/auth/util/JwtTokenProvider.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationMessageRequest.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationRequest.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/MemberResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/NicknameValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/PointResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/SignUpRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/SignUpResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/UrlValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/auth/domain/JwtTokenProviderTest.java
  server/src/test/java/com/example/tyfserver/auth/service/AuthenticationServiceTest.java
  server/src/test/java/com/example/tyfserver/banner/domain/BannerRepositoryTest.java
  server/src/test/java/com/example/tyfserver/banner/service/BannerServiceTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberTest.java
Labels: feature, server

#61 [#54] 현재까지 구현한 API의 테스트 코드를 작성한다
  server/build.gradle
  server/src/main/java/com/example/tyfserver/auth/dto/IdAndEmail.java
  server/src/main/java/com/example/tyfserver/auth/service/AuthenticationService.java
  server/src/main/java/com/example/tyfserver/auth/util/JwtTokenProvider.java
  server/src/main/java/com/example/tyfserver/banner/controller/BannerController.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerRequest.java
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/Message.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationMessageRequest.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/MemberResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/NicknameValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/PointResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/SignUpRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/UrlValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/resources/application.yml
  server/src/test/java/com/example/tyfserver/AcceptanceTest.java
  server/src/test/java/com/example/tyfserver/auth/domain/JwtTokenProviderTest.java
  server/src/test/java/com/example/tyfserver/auth/service/AuthenticationServiceTest.java
  server/src/test/java/com/example/tyfserver/banner/BannerAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/banner/service/BannerServiceTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberTest.java
Labels: feature, server

#65 [#58] 후원 리스트 API 작성
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/Message.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationMessageRequest.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
Labels: feature, server

#71 [#55, #67] 예외 핸들링 구현 및 API 리팩토링
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/controller/Oauth2Controller.java
  server/src/main/java/com/example/tyfserver/auth/domain/Oauth2Type.java
  server/src/main/java/com/example/tyfserver/auth/exception/AlreadyRegisteredException.java
  server/src/main/java/com/example/tyfserver/auth/exception/AlreadyRegisteredInSameOauth2TypeException.java
  server/src/main/java/com/example/tyfserver/auth/exception/AuthorizationHeaderNotFoundException.java
  server/src/main/java/com/example/tyfserver/auth/exception/InvalidOauth2TypeException.java
  server/src/main/java/com/example/tyfserver/auth/exception/InvalidTokenException.java
  server/src/main/java/com/example/tyfserver/auth/exception/SignUpRequestException.java
  server/src/main/java/com/example/tyfserver/auth/exception/UnregisteredMemberException.java
  server/src/main/java/com/example/tyfserver/auth/service/Oauth2Service.java
  server/src/main/java/com/example/tyfserver/auth/util/AuthorizationExtractor.java
  server/src/main/java/com/example/tyfserver/auth/util/JwtTokenProvider.java
  server/src/main/java/com/example/tyfserver/banner/controller/BannerController.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerRequest.java
  server/src/main/java/com/example/tyfserver/banner/exception/BannerRequestException.java
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/common/config/GlobalExceptionHandler.java
  server/src/main/java/com/example/tyfserver/common/dto/ErrorResponse.java
  server/src/main/java/com/example/tyfserver/common/dto/ErrorWithTokenResponse.java
  server/src/main/java/com/example/tyfserver/common/exception/BaseException.java
  server/src/main/java/com/example/tyfserver/common/util/ApiSender.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/Message.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationMessageRequest.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationRequest.java
  server/src/main/java/com/example/tyfserver/donation/exception/DonationMessageRequestException.java
  server/src/main/java/com/example/tyfserver/donation/exception/DonationNotFoundException.java
  server/src/main/java/com/example/tyfserver/donation/exception/DonationRequestException.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/NicknameValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/PageNameValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/SignUpRequest.java
  server/src/main/java/com/example/tyfserver/member/exception/DuplicatedNicknameException.java
  server/src/main/java/com/example/tyfserver/member/exception/DuplicatedPageNameException.java
  server/src/main/java/com/example/tyfserver/member/exception/MemberNotFoundException.java
  server/src/main/java/com/example/tyfserver/member/exception/NicknameValidationRequestException.java
  server/src/main/java/com/example/tyfserver/member/exception/PageNameValidationRequestException.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/AcceptanceTest.java
  server/src/test/java/com/example/tyfserver/auth/domain/JwtTokenProviderTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberTest.java
Labels: feature, server

#78 [#77] 창작자가 자신의 정보를 조회하는 API를 작성한다.
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/config/Oauth2Config.java
  server/src/main/java/com/example/tyfserver/auth/controller/Oauth2Controller.java
  server/src/main/java/com/example/tyfserver/auth/domain/Oauth2.java
  server/src/main/java/com/example/tyfserver/auth/dto/SignUpResponse.java
  server/src/main/java/com/example/tyfserver/auth/exception/SignUpRequestException.java
  server/src/main/java/com/example/tyfserver/auth/service/Oauth2Service.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/MemberDetailResponse.java
  server/src/main/java/com/example/tyfserver/member/dto/SignUpReadyResponse.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
Labels: feature, server

#85 [#84] 후원금 순 큐레이션 리스트를 보여준다.
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/CurationsResponse.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberQueryRepository.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
Labels: feature, server

#86 [#83]로그인/회원 가입 리다이렉트 URL을 분리
  server/src/main/java/com/example/tyfserver/auth/controller/Oauth2Controller.java
  server/src/main/java/com/example/tyfserver/auth/domain/GoogleOauth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/KakaoOauth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/NaverOauth2.java
  server/src/main/java/com/example/tyfserver/auth/domain/Oauth2.java
  server/src/main/java/com/example/tyfserver/auth/dto/Oauth2Request.java
  server/src/main/java/com/example/tyfserver/auth/service/Oauth2Service.java
  server/src/main/resources/application-oauth2-encrypted.yml
  server/src/main/resources/application-oauth2.yml
Labels: feature, server

#93 [#62] 테스트 서버의 mock data를 생성하는 DataLoader 생성 및 local, dev property 설정 분리
  server/src/main/java/com/example/tyfserver/DataLoader.java
  server/src/main/resources/application.yml
Labels: feature, server

#96 [#95] 토큰 유효성검사 API 작성
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/TokenValidationRequest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
Labels: feature, server

#91 [#90] 네비게이션바 동작 기능 구현
  client/src/API.ts
  client/src/App.tsx
  client/src/components/@atom/Modal/Modal.tsx
  client/src/components/Menu/Menu.stories.tsx
  client/src/components/Menu/Menu.styles.ts
  client/src/components/Menu/Menu.tsx
  client/src/components/NavBar/NavBar.tsx
  client/src/constants/API.ts
  client/src/service/hooks/useLoginUserInfo.ts
  client/src/service/hooks/useLogout.ts
  client/src/service/request/auth.ts
  client/src/service/request/creator.ts
  client/src/service/share.ts
  client/src/service/state/login.ts
  client/src/utils/useModal.ts
  client/src/utils/webShareAPI.ts
Labels: client, feature

#100 [#89]DB 서버 테이블 업데이트
  server/src/main/resources/application-prod.yml
  server/src/main/resources/application.yml
Labels: feature, server

#97 [#94] 유저는 로그인을 유지할 수 있다.
  client/src/components/Login/LoginForm.tsx
  client/src/constants/storage.ts
  client/src/service/hooks/useAccessToken.ts
  client/src/service/hooks/useLoginEffect.ts
  client/src/service/hooks/useLoginPersistenceType.ts
  client/src/service/state/login.ts
  client/src/types.ts
  client/src/utils/storage.ts
Labels: client, feature

#99 [#75, #98] 회원가입 주소입력, 이름입력, 완료페이지 기능 구현
  client/src/API.ts
  client/src/__test__/RegisterAddressPage.test.tsx
  client/src/__test__/RegisterNamePage.test.tsx
  client/src/components/Register/RegisterAddressForm/RegisterAddressForm.styles.ts
  client/src/components/Register/RegisterAddressForm/RegisterAddressForm.tsx
  client/src/components/Register/RegisterAuthForm/RegisterAuthForm.tsx
  client/src/components/Register/RegisterNameForm/RegisterNameForm.tsx
  client/src/components/Register/RegisterTermsForm/RegisterTermsForm.tsx
  client/src/constants/constant.ts
  client/src/constants/oauth.ts
  client/src/pages/Creator/CreatorPage.tsx
  client/src/pages/Register/RegisterSuccess/RegisterSuccessPage.tsx
  client/src/service/hooks/useRegister.tsx
  client/src/service/hooks/useTerms.tsx
  client/src/service/request/register.ts
  client/src/service/state/register.ts
  client/src/types.ts
Labels: client, feature

#104 [#103] 창작자 통계 페이지 기능구현
  client/.storybook/preview.js
  client/package.json
  client/src/App.tsx
  client/src/__test__/myTest.test.tsx
  client/src/__test__/statistics.test.tsx
  client/src/__test__/utils/testUtil.tsx
  client/src/mock/handlers.ts
  client/src/mock/mockData.ts
  client/src/pages/Statistics/StatisticsPage.styles.ts
  client/src/pages/Statistics/StatisticsPage.tsx
  client/src/service/hooks/useStatistics.ts
  client/src/service/request/statistics.ts
  client/src/service/state/statistics.ts
  client/src/types.ts
Labels: client, feature

#110 [#109]Oauth2 Property의 type(소문자)과 queryParam으로 받는 type(대문자)이 다름
  server/src/main/resources/application-oauth2-encrypted.yml
  server/src/main/resources/application-oauth2.yml
Labels: bug, server

#112 [#111] 후원 기록(전체 후원 리스트, 공개 후원 리스트)에 createdDate 정보 추가
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationArgumentResolver.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationInterceptor.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/config/Oauth2Config.java
  server/src/main/java/com/example/tyfserver/auth/domain/Oauth2Type.java
  server/src/main/java/com/example/tyfserver/auth/service/Oauth2Service.java
  server/src/main/java/com/example/tyfserver/auth/util/AuthorizationExtractor.java
  server/src/main/java/com/example/tyfserver/auth/util/JwtTokenProvider.java
  server/src/main/java/com/example/tyfserver/common/config/WebConfig.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/test/java/com/example/tyfserver/donation/controller/DonationControllerTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
Labels: feature, server

#116 [#115]Logging 추가
  server/build.gradle
  server/src/main/java/com/example/tyfserver/common/config/GlobalExceptionHandler.java
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/main/resources/logback-spring.xml
Labels: feature, server

#117 [#105] 후원 기능 구현
  client/src/App.tsx
  client/src/components/@atom/Input/Input.tsx
  client/src/components/Donation/DonationForm/DonationForm.stories.tsx
  client/src/components/Donation/DonationForm/DonationForm.tsx
  client/src/components/Donation/MessageForm/DonationMessageForm.stories.tsx
  client/src/components/Donation/MessageForm/DonationMessageForm.tsx
  client/src/constants/service.ts
  client/src/index.tsx
  client/src/pages/Donation/Donation/DonationPage.tsx
  client/src/pages/Donation/Message/DonationMessagePage.tsx
  client/src/pages/Donation/Success/DonationSuccessPage.styles.ts
  client/src/pages/Donation/Success/DonationSuccessPage.tsx
  client/src/service/hooks/useDonation.ts
  client/src/service/hooks/useDonationForm.ts
  client/src/service/hooks/useDonationMessage.ts
  client/src/service/hooks/useDonationMessageForm.ts
  client/src/service/request/creator.ts
  client/src/service/request/donation.ts
  client/src/service/state/donation.ts
  client/src/types.ts
  client/webpack.config.ts
Labels: client, feature

#114 [#102] 창작자 랜딩페이지 구현
  client/src/API.ts
  client/src/App.tsx
  client/src/components/Creator/Comments/Comments.tsx
  client/src/components/Creator/DonationList/DonationList.styles.tsx
  client/src/components/Creator/DonationList/DonationList.tsx
  client/src/components/Creator/Profile/Profile.tsx
  client/src/constants/API.ts
  client/src/constants/donation.ts
  client/src/constants/register.ts
  client/src/pages/Creator/CreatorPage.tsx
  client/src/service/hooks/useCreatorDonations.ts
  client/src/service/request/creator.ts
  client/src/service/state/creator.ts
  client/src/service/state/register.ts
  client/src/types.ts
Labels: client, feature

#119 [#113] /members/validate/token 컨트롤러 테스트 코드 추가 및 repositoryTest @Import 추가
  server/src/test/java/com/example/tyfserver/banner/repository/BannerRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
Labels: feature, server

#125 [#124]oauth2.0 리다이렉트 URL 추가
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-oauth2-dev.yml
  server/src/main/resources/application-oauth2-prod.yml
  server/src/main/resources/application-prod.yml
  server/src/main/resources/static/index.html
Labels: feature, server

#123 [#122]회원가입 api 연동
  client/netlify.toml
  client/src/components/Creator/DonationList/DonationList.styles.tsx
  client/src/components/Creator/DonationList/DonationList.tsx
  client/src/components/NavBar/NavBar.tsx
  client/src/components/Register/RegisterAddressForm/RegisterAddressForm.tsx
  client/src/components/Register/RegisterNameForm/RegisterNameForm.tsx
  client/src/mock/handlers.ts
  client/src/pages/Creator/CreatorPage.tsx
  client/src/pages/Donation/Success/DonationSuccessPage.tsx
  client/src/pages/Register/RegisterSuccess/RegisterSuccessPage.tsx
  client/src/service/hooks/useCreatorDonations.ts
  client/src/service/hooks/useLoginEffect.ts
  client/src/service/hooks/useRegister.tsx
  client/src/service/hooks/useRegisterEffect.ts
  client/src/service/request/auth.ts
  client/src/service/request/creator.ts
  client/src/service/request/register.ts
  client/src/service/state/creator.ts
  client/src/service/state/register.ts
  client/src/types.ts
Labels: client, feature

#130 회원가입 후 자동으로 로그인 되지 않는 현상
  client/src/pages/Donation/Success/DonationSuccessPage.tsx
  client/src/service/hooks/useRegister.tsx
  client/src/service/request/register.ts
Labels: bug, client

#132 [#131] 후원 페이지들 레이아웃 수정
  client/src/components/@molecule/Logo/Logo.tsx
  client/src/components/Donation/MessageForm/DonationMessageForm.styles.ts
  client/src/pages/Donation/Donation/DonationPage.styles.ts
  client/src/pages/Donation/Donation/DonationPage.tsx
  client/src/pages/Donation/Message/DonationMessagePage.styles.ts
  client/src/pages/Donation/Success/DonationSuccessPage.styles.ts
Labels: bug, client

#133 통계 페이지가 노출되지 않는 현상
  client/src/App.tsx
  client/src/pages/Statistics/StatisticsPage.tsx
  client/src/service/hooks/useLoginUserInfo.ts
  client/src/service/hooks/useStatistics.ts
  client/src/service/state/statistics.ts
Labels: bug, client

#139 [#135] auth 유무에 따른 privateRouting 구현
  server/src/main/java/com/example/tyfserver/DataLoader.java
Labels: refactor, server

#136 [#135] auth 유무에 따른 privateRouting 구현
  client/src/App.tsx
  client/src/components/PrivateRoute/PrivateRoute.tsx
  client/src/components/Register/RegisterNameForm/RegisterNameForm.tsx
  client/src/service/hooks/useLoginEffect.ts
  client/src/service/hooks/useLoginUserInfo.ts
  client/src/service/hooks/useRegister.tsx
  client/src/service/hooks/useStatistics.ts
Labels: client, feature

#140 후원메세지 더보기시 스크롤이 위로올라가는현상
  client/src/components/Creator/DonationList/DonationList.tsx
  client/src/service/hooks/useCreatorDonations.ts
Labels: bug, client

#142 [#141]클라이언트 배포 URL CORS 추가
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
Labels: feature, server

#150 스프린트 1 리팩토링 마무리
  client/package.json
  client/src/API.ts
  client/src/Global.styles.ts
  client/src/__test__/donationMessageList.test.tsx
  client/src/__test__/jest.setup.ts
  client/src/__test__/main.test.tsx
  client/src/__test__/registerAddress.test.tsx
  client/src/__test__/registerName.test.tsx
  client/src/__test__/statistics.test.tsx
  client/src/components/Donation/MessageList/DonationMessageList.tsx
  client/src/components/Register/AddressForm/RegisterAddressForm.styles.ts
  client/src/components/Register/AddressForm/RegisterAddressForm.tsx
  client/src/components/Register/NameForm/RegisterNameForm.styles.ts
  client/src/components/Register/NameForm/RegisterNameForm.tsx
  client/src/components/Register/TermsForm/RegisterTermsForm.styles.ts
  client/src/components/Register/TermsForm/RegisterTermsForm.tsx
  client/src/mock/handlers.ts
  client/src/mock/mockData.ts
  client/src/pages/Creator/CreatorPage.styles.ts
  client/src/pages/Creator/CreatorPage.tsx
  client/src/pages/Register/Address/RegisterAddressPage.styles.tsx
  client/src/pages/Register/Name/RegisterNamePage.styles.ts
  client/src/pages/Register/Terms/RegisterTermsPage.styles.ts
  client/yarn.lock
Labels: client, refactor

#157 [#156]프로필 이미지 등록, 수정, 삭제 api 구현
  server/src/main/java/com/example/tyfserver/S3Controller.java
  server/src/main/java/com/example/tyfserver/S3Uploader.java
  server/src/main/java/com/example/tyfserver/Uploader.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/common/exception/S3FileNotFoundException.java
  server/src/main/java/com/example/tyfserver/common/util/CloudFrontUrlGenerator.java
  server/src/main/java/com/example/tyfserver/common/util/S3Config.java
  server/src/main/java/com/example/tyfserver/common/util/S3Connector.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/ProfileResponse.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberQueryRepository.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/resources/application-aws.yml
  server/src/main/resources/application-test.yml
  server/src/test/java/com/example/tyfserver/common/util/CloudFrontUrlGeneratorTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: feature, server

#158 [#156]프로필 이미지 등록, 수정, 삭제 기능 구현
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberQueryRepository.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: feature, server

#161 [#160] 비밀 메시지 DB 에서 덮어씌워지는 현상
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/Message.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/test/java/com/example/tyfserver/donation/domain/DonationTest.java
  server/src/test/java/com/example/tyfserver/donation/domain/MessageTest.java
Labels: bug, server

#163 [#162] 프로필 이미지 Api 테스트 추가
  server/.gitignore
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
Labels: feature, server

#167 [#162]프로필 이미지 Api RestDocs 반영
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationArgumentResolver.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationInterceptor.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/auth/config/Oauth2Config.java
  server/src/main/java/com/example/tyfserver/auth/domain/Oauth2Type.java
  server/src/main/java/com/example/tyfserver/auth/service/Oauth2Service.java
  server/src/main/java/com/example/tyfserver/auth/util/AuthorizationExtractor.java
  server/src/main/java/com/example/tyfserver/auth/util/JwtTokenProvider.java
  server/src/main/java/com/example/tyfserver/common/config/CommonConfig.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/TokenValidationRequest.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberQueryRepository.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepository.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/resources/static/docs/index.html
  server/src/test/java/com/example/tyfserver/banner/BannerAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/controller/DonationControllerTest.java
  server/src/test/java/com/example/tyfserver/donation/domain/DonationTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: feature, server

#169 [#168]S3 저장경로 변경
  server/src/main/java/com/example/tyfserver/common/util/S3Connector.java
Labels: refactor, server

#166 [#165} 네비게이션 바 데스크탑 해상도 마크업
  client/src/Global.styles.ts
  client/src/assets/icons/graph.svg
  client/src/assets/icons/home.svg
  client/src/assets/icons/logout.svg
  client/src/assets/icons/setting.svg
  client/src/assets/icons/user.svg
  client/src/components/@atom/Modal/Modal.styles.ts
  client/src/components/@atom/Template/Template.styles.ts
  client/src/components/@atom/TextButton/TextButton.stories.tsx
  client/src/components/@atom/TextButton/TextButton.styles.tsx
  client/src/components/Footer/Footer.styles.tsx
  client/src/components/Menu/Desktop/DesktopMenu.stories.tsx
  client/src/components/Menu/Desktop/DesktopMenu.styles.ts
  client/src/components/Menu/Desktop/DesktopMenu.tsx
  client/src/components/Menu/Menu.tsx
  client/src/components/Menu/Mobile/MobileMenu.stories.tsx
  client/src/components/Menu/Mobile/MobileMenu.styles.ts
  client/src/components/Menu/Mobile/MobileMenu.tsx
  client/src/components/NavBar/NavBar.styles.ts
  client/src/components/NavBar/NavBar.tsx
  client/src/constants/device.ts
  client/src/service/share.ts
  client/src/utils/useWindowResize.ts
Labels: client, feature

#174 [ #173] 메인페이지 데스크탑 마크업 구현
  client/src/assets/icons/left-arrow.svg
  client/src/assets/icons/right-arrow.svg
  client/src/assets/images/hero-content-desktop.svg
  client/src/components/@atom/SubTitle/SubTitle.styles.ts
  client/src/components/@molecule/Logo/Logo.tsx
  client/src/components/Main/CreatorCard/CreatorCard.styles.ts
  client/src/components/Main/CreatorList/CreatorList.stories.tsx
  client/src/components/Main/CreatorList/CreatorList.tsx
  client/src/components/Main/CreatorList/Desktop/DesktopCreatorList.stories.tsx
  client/src/components/Main/CreatorList/Desktop/DesktopCreatorList.styles.ts
  client/src/components/Main/CreatorList/Desktop/DesktopCreatorList.tsx
  client/src/components/Main/CreatorList/Mobile/MobileCreatorList.stories.tsx
  client/src/components/Main/CreatorList/Mobile/MobileCreatorList.styles.ts
  client/src/components/Main/CreatorList/Mobile/MobileCreatorList.tsx
  client/src/components/Menu/Desktop/DesktopMenu.styles.ts
  client/src/constants/device.ts
  client/src/pages/Main/Main.styles.ts
  client/src/pages/Main/MainPage.tsx
Labels: client, document

#172 [#170, #171] 인증, 창작자 데스크탑 마크업 및 UT 개선사항 적용
  client/.storybook/preview-head.html
  client/src/App.tsx
  client/src/assets/icons/check.svg
  client/src/components/@atom/Checkbox/Checkbox.styles.ts
  client/src/components/Creator/Profile/Profile.styles.tsx
  client/src/components/Creator/Profile/Profile.tsx
  client/src/components/Register/AddressForm/RegisterAddressForm.styles.ts
  client/src/components/Register/AddressForm/RegisterAddressForm.tsx
  client/src/components/Register/NameForm/RegisterNameForm.tsx
  client/src/components/Register/TermsForm/RegisterTermsForm.tsx
  client/src/constants/oauth.ts
  client/src/constants/register.ts
  client/src/pages/Creator/CreatorPage.styles.ts
  client/src/pages/Login/LoginPage.styles.ts
  client/src/pages/Login/LoginPage.tsx
  client/src/pages/Main/MainPage.tsx
  client/src/pages/Register/Address/RegisterAddressPage.styles.tsx
  client/src/pages/Register/Auth/RegisterAuthPage.styles.ts
  client/src/pages/Register/Auth/RegisterAuthPage.tsx
  client/src/pages/Register/Name/RegisterNamePage.styles.ts
  client/src/pages/Register/Success/RegisterSuccessPage.styles.ts
  client/src/pages/Register/Terms/RegisterTermsPage.styles.ts
  client/src/pages/Statistics/StatisticsPage.styles.ts
  client/src/service/hooks/useRegister.ts
  client/src/service/hooks/useRegisterNickname.ts
  client/src/service/hooks/useRegisterPageName.ts
  client/src/service/state/register.ts
Labels: client, design, feature

#176 [#175] 로그인 유지하기 동작하지 않는 현상
  client/src/components/Menu/Desktop/DesktopMenu.styles.ts
  client/src/components/Menu/Menu.tsx
  client/src/constants/storage.ts
  client/src/service/hooks/useAccessToken.ts
  client/src/service/hooks/useLoginEffect.ts
  client/src/service/hooks/useLoginPersistenceType.ts
  client/src/service/hooks/useRegister.ts
  client/src/service/state/login.ts
Labels: bug, client

#185 [#180] 일부 반응형 웹 리팩토링
  client/src/components/Creator/CreatorInfo/Desktop/DesktopCreatorInfo.styles.ts
  client/src/components/Creator/CreatorInfo/Desktop/DesktopCreatorInfo.tsx
  client/src/components/Creator/CreatorInfo/Mobile/MobileCreatorInfo.styles.ts
  client/src/components/Creator/CreatorInfo/Mobile/MobileCreatorInfo.tsx
  client/src/components/Register/AddressForm/RegisterAddressForm.styles.ts
  client/src/components/Register/AddressForm/RegisterAddressForm.tsx
  client/src/components/Register/NameForm/RegisterNameForm.styles.ts
  client/src/components/Register/NameForm/RegisterNameForm.tsx
  client/src/components/Register/TermsForm/RegisterTermsForm.styles.ts
  client/src/components/Register/TermsForm/RegisterTermsForm.tsx
  client/src/pages/Creator/CreatorPage.styles.ts
  client/src/pages/Creator/CreatorPage.tsx
  client/src/pages/Register/Address/RegisterAddressPage.styles.tsx
  client/src/pages/Register/Name/RegisterNamePage.styles.ts
  client/src/pages/Register/Terms/RegisterTermsPage.styles.ts
Labels: client, design, feature

#187 [#181] 이미지 공유 배너 모달 마크업, 기능 구현
  client/src/assets/images/dummy/button.png
  client/src/components/NavBar/NavBar.styles.ts
  client/src/components/URLShareModal/URLShareModal.stories.tsx
  client/src/components/URLShareModal/URLShareModal.styles.ts
  client/src/components/URLShareModal/URLShareModal.tsx
  client/src/pages/Creator/CreatorPage.tsx
  client/src/service/popup.ts
  client/webpack.config.ts
Labels: client, feature

#186 [#179] 닉네임, 주소명 db 검증 디바운싱 구현에 위치
  client/src/service/hooks/useRegisterNickname.ts
  client/src/service/hooks/useRegisterPageName.ts
  client/src/service/state/register.ts
  client/src/utils/debounce.ts
Labels: client, feature

#190 [#182] 배너 공유 선택 모달 기능 구현 및 리팩토링
  client/src/assets/icons/link.svg
  client/src/components/ShareModal/URLBannerShareModal/URLBannerShareModal.stories.tsx
  client/src/components/ShareModal/URLBannerShareModal/URLBannerShareModal.styles.ts
  client/src/components/ShareModal/URLBannerShareModal/URLBannerShareModal.tsx
  client/src/components/ShareModal/URLShareModal/URLShareModal.styles.ts
  client/src/components/ShareModal/URLShareModal/URLShareModal.tsx
  client/src/components/ShareModal/URLShareSelectModal/URLShareSelectModal.stories.tsx
  client/src/components/ShareModal/URLShareSelectModal/URLShareSelectModal.styles.ts
  client/src/components/ShareModal/URLShareSelectModal/URLShareSelectModal.tsx
  client/src/components/URLShareModal/URLShareModal.stories.tsx
  client/src/pages/Creator/CreatorPage.tsx
Labels: client, feature

#192 Update TyfServerApplication.java
  server/src/main/java/com/example/tyfserver/TyfServerApplication.java
Labels: server, test

#194 Feature/jenkins test2
  server/src/main/java/com/example/tyfserver/TyfServerApplication.java
Labels: server, test

#195 main jenkins test
  server/src/main/java/com/example/tyfserver/TyfServerApplication.java
Labels: server, test

#197 [#191] 자기소개, 닉네임 변경 API 작성
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/MemberBioUpdateRequest.java
  server/src/main/java/com/example/tyfserver/member/dto/NicknameRequest.java
  server/src/main/java/com/example/tyfserver/member/exception/BioValidationRequestException.java
  server/src/main/java/com/example/tyfserver/member/exception/NicknameValidationRequestException.java
  server/src/main/java/com/example/tyfserver/member/exception/PageNameValidationRequestException.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: document, feature, server, test

#196 [#189]Payment 서비스, 컨트롤러 슬라이싱 테스트
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/payment/controller/PaymentController.java
  server/src/main/java/com/example/tyfserver/payment/domain/Payment.java
  server/src/main/java/com/example/tyfserver/payment/domain/PaymentInfo.java
  server/src/main/java/com/example/tyfserver/payment/dto/PaymentSaveRequest.java
  server/src/main/java/com/example/tyfserver/payment/exception/IllegalPaymentInfoException.java
  server/src/main/java/com/example/tyfserver/payment/exception/PaymentRequestException.java
  server/src/main/java/com/example/tyfserver/payment/exception/PaymentSaveRequestException.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/main/java/com/example/tyfserver/payment/util/IamPortPaymentServiceConnector.java
  server/src/test/java/com/example/tyfserver/banner/controller/BannerControllerTest.java
  server/src/test/java/com/example/tyfserver/donation/controller/DonationControllerTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/payment/controller/PaymentControllerTest.java
  server/src/test/java/com/example/tyfserver/payment/domain/PaymentTest.java
  server/src/test/java/com/example/tyfserver/payment/service/PaymentServiceTest.java
Labels: document, server, test

#202 [#201] 큐레이터 5명 -> 10명
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
Labels: refactor, server
