Repository woowacourse-teams/2021-tyf, pull requests merged in 2021-09, with the labels that each got.

#322 [#321] 연관관계 재설정
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/DataLoader.java
  server/src/main/java/com/example/tyfserver/banner/controller/BannerController.java
  server/src/main/java/com/example/tyfserver/banner/domain/Banner.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerRequest.java
  server/src/main/java/com/example/tyfserver/banner/dto/BannerResponse.java
  server/src/main/java/com/example/tyfserver/banner/exception/BannerRequestException.java
  server/src/main/java/com/example/tyfserver/banner/repository/BannerRepository.java
  server/src/main/java/com/example/tyfserver/banner/service/BannerService.java
  server/src/main/java/com/example/tyfserver/common/util/SmtpMailConnector.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/java/com/example/tyfserver/payment/controller/PaymentController.java
  server/src/main/java/com/example/tyfserver/payment/domain/Payment.java
  server/src/main/java/com/example/tyfserver/payment/dto/PaymentPendingRequest.java
  server/src/main/java/com/example/tyfserver/payment/dto/PaymentPendingResponse.java
  server/src/main/java/com/example/tyfserver/payment/dto/RefundInfoResponse.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/test/java/com/example/tyfserver/banner/controller/BannerControllerTest.java
  server/src/test/java/com/example/tyfserver/banner/repository/BannerRepositoryTest.java
  server/src/test/java/com/example/tyfserver/banner/service/BannerServiceTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/payment/PaymentAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/payment/controller/PaymentControllerTest.java
  server/src/test/java/com/example/tyfserver/payment/service/PaymentServiceTest.java
Labels: server, refactor

#327 [#326] 후원 및 환불 api 리팩토링 및 구현
  server/src/main/java/com/example/tyfserver/common/util/SmtpMailConnector.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/DonationType.java
  server/src/main/java/com/example/tyfserver/donation/domain/Message.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationRequest.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/domain/Point.java
  server/src/main/java/com/example/tyfserver/member/dto/MemberResponse.java
  server/src/main/java/com/example/tyfserver/member/exception/NotEnoughPointException.java
  server/src/main/java/com/example/tyfserver/payment/controller/PaymentController.java
  server/src/main/java/com/example/tyfserver/payment/domain/Item.java
  server/src/main/java/com/example/tyfserver/payment/domain/Payment.java
  server/src/main/java/com/example/tyfserver/payment/dto/PaymentCompleteResponse.java
  server/src/main/java/com/example/tyfserver/payment/dto/RefundInfoResponse.java
  server/src/main/java/com/example/tyfserver/payment/exception/ItemNotFoundException.java
  server/src/main/java/com/example/tyfserver/payment/exception/PaymentCompleteRequestException.java
  server/src/main/java/com/example/tyfserver/payment/exception/RefundGuaranteeDurationException.java
  server/src/main/java/com/example/tyfserver/payment/repository/PaymentRepository.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/main/resources/templates/mail-charge-complete.html
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
Labels: feature, server, refactor

#330 후원자 포인트 충전/도네이션 기능 구현
  client/main/src/App.tsx
  client/main/src/__test__/creator.test.tsx
  client/main/src/__test__/donationAmount.test.tsx
  client/main/src/__test__/donationMessage.test.tsx
  client/main/src/__test__/donatorInfo.test.tsx
  client/main/src/__test__/refundCertification.test.tsx
  client/main/src/__test__/refundConfirm.test.tsx
  client/main/src/__test__/statistics.test.tsx
  client/main/src/__test__/utils/testUtil.tsx
  client/main/src/components/Creator/CreatorInfo/CreatorInfo.tsx
  client/main/src/components/Creator/CreatorInfo/Desktop/DesktopCreatorInfo.tsx
  client/main/src/components/Creator/CreatorInfo/Mobile/MobileCreatorInfo.tsx
  client/main/src/components/Creator/MessageList/DonationMessageList.styles.tsx
  client/main/src/components/Creator/MessageList/DonationMessageList.tsx
  client/main/src/components/Donation/AmountForm/DonationAmountForm.styles.ts
  client/main/src/components/Donation/AmountForm/DonationAmountForm.tsx
  client/main/src/components/Donation/DonatorForm/DonatorForm.stories.tsx
  client/main/src/components/Donation/DonatorForm/DonatorForm.styles.ts
  client/main/src/components/Donation/DonatorForm/DonatorForm.tsx
  client/main/src/components/Point/ChargeModal/PointChargeModal.stories.tsx
  client/main/src/components/Point/ChargeModal/PointChargeModal.styles.ts
  client/main/src/components/Point/ChargeModal/PointChargeModal.tsx
  client/main/src/components/Point/ChargeModal/PointRadio/PointRadio.styles.ts
  client/main/src/components/Point/ChargeModal/PointRadio/PointRadio.tsx
  client/main/src/components/Refund/RefundInfo/RefundInfo.tsx
  client/main/src/mock/handlers.ts
  client/main/src/mock/mockData.ts
  client/main/src/pages/Creator/CreatorPage.tsx
  client/main/src/pages/Donation/Amount/DonationAmountPage.tsx
  client/main/src/pages/Donation/DonatorInfo/DonatorInfoPage.stories.tsx
  client/main/src/pages/Donation/DonatorInfo/DonatorInfoPage.styles.ts
  client/main/src/pages/Donation/DonatorInfo/DonatorInfoPage.tsx
  client/main/src/pages/Donation/Message/DonationMessagePage.tsx
  client/main/src/pages/Donation/Success/DonationSuccessPage.tsx
  client/main/src/pages/MyPoint/Charge/DoantionPaymentPage.stories.tsx
  client/main/src/pages/MyPoint/Charge/DonationPaymentPage.styles.ts
  client/main/src/pages/MyPoint/Charge/DonationPaymentPage.tsx
  client/main/src/pages/MyPoint/MyPointPage.stories.tsx
  client/main/src/pages/MyPoint/MyPointPage.styles.ts
  client/main/src/pages/MyPoint/MyPointPage.tsx
  client/main/src/pages/Statistics/StatisticsPage.stories.tsx
  client/main/src/pages/Statistics/StatisticsPage.styles.ts
  client/main/src/pages/Statistics/StatisticsPage.tsx
  client/main/src/service/@request/auth.ts
  client/main/src/service/@request/payments.ts
  client/main/src/service/@request/statistics.ts
  client/main/src/service/@shared/useAuthCheckEffect.ts
  client/main/src/service/@state/donation.ts
  client/main/src/service/@state/statistics.ts
  client/main/src/service/auth/useLoginEffect.ts
  client/main/src/service/donation/useDonation.ts
  client/main/src/service/donation/useDonationAmount.ts
  client/main/src/service/donation/useDonationAmountForm.ts
  client/main/src/service/myPoint/usePointChargeForm.ts
  client/main/src/service/payment/payment.ts
  client/main/src/service/user/useStatistics.ts
  client/main/src/types.ts
Labels: feature, client

#329 [#328] 포인트 조회 구현 및 환불 프로세스 개선
  client/main/src/__test__/refundConfirm.test.tsx
  client/main/src/assets/icons/coins.svg
  client/main/src/components/Menu/Desktop/DesktopMenu.tsx
  client/main/src/components/Menu/Mobile/MobileMenu.tsx
  client/main/src/components/NavBar/NavBar.styles.ts
  client/main/src/components/NavBar/NavBar.tsx
  client/main/src/components/Point/PointInfo/PointInfoForm.stories.tsx
  client/main/src/components/Point/PointInfo/PointInfoForm.styles.ts
  client/main/src/components/Point/PointInfo/PointInfoForm.tsx
  client/main/src/components/Refund/ApplyForm/RefundApplyForm.styles.ts
  client/main/src/components/Refund/ApplyForm/RefundApplyForm.tsx
  client/main/src/components/Refund/RefundInfo/RefundInfo.stories.tsx
  client/main/src/components/Refund/RefundInfo/RefundInfo.tsx
  client/main/src/mock/mockData.ts
  client/main/src/pages/MyPoint/MyPointPage.tsx
  client/main/src/pages/Refund/Apply/RefundApplyPage.styles.ts
  client/main/src/pages/Refund/Apply/RefundApplyPage.tsx
  client/main/src/pages/Refund/Confirm/RefundConfirmPage.styles.ts
  client/main/src/types.ts
Labels: feature, client

#339 [#335] 페이먼츠 단위 테스트, (Service, Controller) 슬라이싱 테스트 수정 및 보완
  server/src/main/java/com/example/tyfserver/DataLoader.java
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/common/domain/BaseTimeEntity.java
  server/src/main/java/com/example/tyfserver/payment/controller/PaymentController.java
  server/src/main/java/com/example/tyfserver/payment/domain/Payment.java
  server/src/main/java/com/example/tyfserver/payment/domain/PaymentInfo.java
  server/src/main/java/com/example/tyfserver/payment/dto/PaymentPendingRequest.java
  server/src/main/java/com/example/tyfserver/payment/service/PaymentService.java
  server/src/main/java/com/example/tyfserver/payment/util/Enum.java
  server/src/main/java/com/example/tyfserver/payment/util/ItemValidator.java
  server/src/test/java/com/example/tyfserver/admin/AdminAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/admin/service/AdminServiceTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/controller/DonationControllerTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
  server/src/test/java/com/example/tyfserver/payment/PaymentAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/payment/controller/PaymentControllerTest.java
  server/src/test/java/com/example/tyfserver/payment/domain/ItemTest.java
  server/src/test/java/com/example/tyfserver/payment/domain/PaymentTest.java
  server/src/test/java/com/example/tyfserver/payment/repository/PaymentRepositoryTest.java
  server/src/test/java/com/example/tyfserver/payment/service/PaymentServiceTest.java
Labels: server, test

#338 [#332]후원 및 환불 변경 인수 테스트
  server/src/main/java/com/example/tyfserver/auth/config/AuthenticationPrincipalConfig.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/test/java/com/example/tyfserver/AcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/payment/PaymentAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/payment/service/PaymentServiceTest.java
Labels: server, test

#336 [#334] 도네이션/멤버 슬라이싱 테스트
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/DonationStatus.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationMessageRequest.java
  server/src/main/java/com/example/tyfserver/donation/exception/DonationAlreadyCancelledException.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/donation/controller/DonationControllerTest.java
  server/src/test/java/com/example/tyfserver/donation/domain/DonationTest.java
  server/src/test/java/com/example/tyfserver/donation/domain/MessageTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: server, test

#342 [#331] 클라이언트 성능 최적화
  client/admin/src/components/@atom/Button/Button.styles.ts
  client/admin/src/components/BankAccount/BankAccount.styles.ts
  client/admin/src/components/NavBar/NavBar.styles.ts
  client/admin/src/components/Settlement/Settlement.styles.ts
  client/main/package.json
  client/main/public/index.html
  client/main/public/robots.txt
  client/main/server/app.js
  client/main/server/package.json
  client/main/server/yarn.lock
  client/main/src/__test__/creator.test.tsx
  client/main/src/__test__/donationAmount.test.tsx
  client/main/src/__test__/donationMessage.test.tsx
  client/main/src/__test__/main.test.tsx
  client/main/src/__test__/registerAddress.test.tsx
  client/main/src/__test__/registerName.test.tsx
  client/main/src/__test__/setting.test.tsx
  client/main/src/assets/images/default-user-profile.png
  client/main/src/assets/images/logo.png
  client/main/src/assets/images/logo.svg
  client/main/src/components/@atom/Anchor/Anchor.styles.ts
  client/main/src/components/@atom/Button/Button.styles.ts
  client/main/src/components/@atom/IconButton/IconButton.styles.ts
  client/main/src/components/@atom/IconButton/IconButton.tsx
  client/main/src/components/@atom/Select/Select.styles.ts
  client/main/src/components/@atom/SubTitle/SubTitle.styles.ts
  client/main/src/components/@atom/TextButton/TextButton.styles.tsx
  client/main/src/components/@molecule/Carousel/Carousel.styles.ts
  client/main/src/components/@molecule/Carousel/Carousel.tsx
  client/main/src/components/@molecule/Logo/Logo.tsx
  client/main/src/components/Creator/CreatorInfo/Desktop/DesktopCreatorInfo.tsx
  client/main/src/components/Creator/MessageList/DonationMessageList.styles.tsx
  client/main/src/components/Creator/MessageList/DonationMessageList.tsx
  client/main/src/components/Creator/Profile/Profile.tsx
  client/main/src/components/Donation/AmountForm/DonationAmountForm.tsx
  client/main/src/components/Donation/MessageForm/DonationMessageForm.tsx
  client/main/src/components/Main/CreatorCard/CreatorCard.styles.ts
  client/main/src/components/Main/CreatorCard/CreatorCard.tsx
  client/main/src/components/Main/CreatorList/Desktop/DesktopCreatorList.styles.ts
  client/main/src/components/Main/CreatorList/Desktop/DesktopCreatorList.tsx
  client/main/src/components/NavBar/NavBar.styles.ts
  client/main/src/components/NavBar/NavBar.tsx
  client/main/src/components/Point/ChargeModal/PointChargeModal.tsx
  client/main/src/components/Point/ChargeModal/PointRadio/PointRadio.styles.ts
  client/main/src/components/Register/AddressForm/RegisterAddressForm.tsx
  client/main/src/components/Register/NameForm/RegisterNameForm.tsx
  client/main/src/components/Setting/UserSettingForm/UserSettingForm.tsx
  client/main/src/components/ShareModal/URLBannerShareModal/URLBannerShareModal.styles.ts
  client/main/src/components/ShareModal/URLBannerShareModal/URLBannerShareModal.tsx
  client/main/src/components/ShareModal/URLShareSelectModal/URLShareSelectModal.styles.ts
  client/main/src/pages/Donation/Success/DonationSuccessPage.styles.ts
  client/main/src/pages/Main/Main.styles.ts
  client/main/src/pages/Main/MainPage.tsx
  client/main/src/pages/MyPoint/MyPointPage.styles.ts
  client/main/src/pages/MyPoint/MyPointPage.tsx
  client/main/src/utils/dynamicImport.ts
  client/main/webpack.config.ts
  client/main/yarn.lock
Labels: feature, client

#345 [#343]후원 후에 포인트가 차감이 되어야 한다.
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/resources/application-dev.yml
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
Labels: server, refactor, release

#372 feat(client): 비회원 로그인시 회원가입, 회원 회원가입시 로그인 플로우 추가
  client/main/src/service/auth/useLoginEffect.ts
  client/main/src/service/auth/useRegisterOauthEffect.ts
  client/main/src/service/auth/useRegisterPageName.ts
Labels: feature, client

#373 feat(client): 네이버 로그인, 회원가입 버튼 제거
  client/main/src/components/Login/LoginForm.tsx
  client/main/src/components/Register/AuthForm/RegisterAuthForm.tsx
Labels: bug, client

#378 fix(client): 로그인시, 간헐적으로 이전의 이전 페이지로 리다이렉션 되는 현상
  client/main/src/App.tsx
  client/main/src/components/Creator/CreatorInfo/CreatorInfo.tsx
  client/main/src/components/NavBar/NavBar.tsx
  client/main/src/constants/oauth.ts
  client/main/src/constants/storage.ts
  client/main/src/service/auth/useLoginEffect.ts
  client/main/src/service/hooks/refund/useRefund.ts
  client/main/src/service/hooks/refund/useRefundOrderDetail.ts
Labels: bug, client

#380 feat(client): 정산관리 페이지, 환급일 안내 텍스트 수정
  client/main/src/components/Settlement/Info/Desktop/DesktopSettlementInfo.tsx
  client/main/src/components/Settlement/Info/Mobile/MobileSettlementInfo.tsx
Labels: client

#375 feat(client): 정산 수수료 페이지 마크업
  client/main/src/App.tsx
  client/main/src/components/Footer/Footer.styles.tsx
  client/main/src/components/Footer/Footer.tsx
  client/main/src/components/Help/HelpButton/HelpButton.styles.ts
  client/main/src/components/Help/HelpButton/HelpButton.tsx
  client/main/src/pages/FeeGuide/FeeGuide.stories.tsx
  client/main/src/pages/FeeGuide/FeeGuide.styles.ts
  client/main/src/pages/FeeGuide/FeeGuide.tsx
  client/main/src/pages/Main/Main.styles.ts
  client/main/src/pages/Main/MainPage.tsx
  client/main/src/pages/Settlement/SettlementPage.tsx
Labels: client

#383 feat(client): 닉네임 일본어, 중국어 안되게 변경
  client/main/src/service/auth/useRegisterNickname.ts
Labels: bug, client

#384 feat(client): 포인트 충전 이용약관 전부 필수로 변경
  client/main/src/components/Point/ChargeModal/PointChargeModal.tsx
Labels: bug, client

#390 feat(client): 포인트 충전 모달 모바일 레이아웃 대응
  client/main/src/components/@atom/Checkbox/Checkbox.styles.ts
  client/main/src/components/Point/ChargeModal/PointChargeModal.styles.ts
Labels: bug, client

#387 feat(client): 정산 관리 페이지, 모바일/데스크탑 UI 기준 해상도 변경
  client/admin/src/pages/LoginPage.tsx
  client/admin/src/pages/SettlementPage.tsx
  client/main/src/components/Settlement/Info/SettlementInfo.tsx
  client/main/src/constants/device.ts
  client/main/src/service/donation/useDonationMessage.ts
Labels: bug, client

#389 feat(client): 정산 계좌 신청시, 정산 받을 은행 가짓수를 늘린다
  client/main/src/constants/bank.ts
Labels: client

#391 fix(client): 투명한 프로필 이미지 불투명처리
  client/main/src/components/Creator/Profile/Profile.styles.tsx
  client/main/src/components/Main/CreatorCard/CreatorCard.styles.ts
Labels: bug, client

#393 feat(client): 계좌등록 페이지 모바일 대응
  client/main/src/components/Settlement/Register/SettlementRegisterForm.styles.ts
  client/main/src/components/Settlement/Register/SettlementRegisterForm.tsx
  client/main/src/pages/Settlement/SettlementPage.tsx
Labels: bug, client

#377 fix(client): 자기소개 메세지 개행 적용
  client/main/src/components/Creator/CreatorInfo/Desktop/DesktopCreatorInfo.styles.ts
  client/main/src/components/Creator/CreatorInfo/Desktop/DesktopCreatorInfo.tsx
  client/main/src/components/Creator/CreatorInfo/Mobile/MobileCreatorInfo.styles.ts
  client/main/src/components/Creator/CreatorInfo/Mobile/MobileCreatorInfo.tsx
Labels: bug, client

#394 fix(client): 환불신청 페이지 텍스트 변경
  client/main/src/components/Refund/ApplyForm/RefundApplyForm.tsx
  client/main/src/pages/Refund/Apply/RefundApplyPage.styles.ts
Labels: bug, client

#395 fix(client): 타 창작자페이지에서 내 페이지로 이동시, 후원메시지리스트 갱신이 안되는 현상
  client/main/src/service/creator/useDonationMessageList.ts
Labels: bug, client

#402 feat(client): 정산 수수료 페이지 마크업
  client/main/src/App.tsx
  client/main/src/components/Footer/Footer.styles.tsx
  client/main/src/components/Footer/Footer.tsx
  client/main/src/components/Help/HelpButton/HelpButton.styles.ts
  client/main/src/components/Help/HelpButton/HelpButton.tsx
  client/main/src/pages/FeeGuide/FeeGuide.stories.tsx
  client/main/src/pages/FeeGuide/FeeGuide.styles.ts
  client/main/src/pages/FeeGuide/FeeGuide.tsx
  client/main/src/pages/Main/Main.styles.ts
  client/main/src/pages/Main/MainPage.tsx
  client/main/src/pages/Settlement/SettlementPage.tsx
Labels: feature, client

#423 feat(client): api 요청 에러 메세지 구체화
  client/main/src/constants/error.ts
  client/main/src/service/auth/useRegister.ts
  client/main/src/service/auth/useRegisterOauthEffect.ts
  client/main/src/service/donation/useDonation.ts
  client/main/src/service/donation/useDonationMessage.ts
  client/main/src/service/payment/payment.ts
  client/main/src/service/refund/useRefund.ts
  client/main/src/service/settlement/useSettlement.ts
  client/main/src/service/user/useSetting.ts
Labels: client
