Repository woowacourse-teams/2021-tyf, pull requests merged in 2021-10, with the labels that each got.

#398 refactor(server): Donation Status를 변경한다
  server/build.gradle
  server/src/main/java/com/example/tyfserver/admin/service/AdminService.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/domain/DonationStatus.java
  server/src/main/java/com/example/tyfserver/donation/domain/DonationType.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationQueryRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/dto/DetailedPointResponse.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: server, refactor

#392 refactor(server): 테스트 시간을 단축한다 (DirtiesContext 사용하지 않도록)
  server/src/test/java/com/example/tyfserver/AcceptanceTest.java
  server/src/test/java/com/example/tyfserver/DatabaseCleanup.java
Labels: server, refactor

#424 refactor(server): Member와 Creator로 분리한다, 후원 목록에 pageName도 함께준다.
  server/src/docs/asciidoc/index.adoc
  server/src/main/java/com/example/tyfserver/admin/service/AdminService.java
  server/src/main/java/com/example/tyfserver/common/exception/DecryptException.java
  server/src/main/java/com/example/tyfserver/common/exception/EncryptException.java
  server/src/main/java/com/example/tyfserver/donation/controller/DonationController.java
  server/src/main/java/com/example/tyfserver/donation/domain/Donation.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationMessageRequest.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationQueryRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepository.java
  server/src/main/java/com/example/tyfserver/donation/repository/DonationRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/donation/service/DonationService.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/exception/WrongDonationOwnerException.java
  server/src/main/java/com/example/tyfserver/member/repository/MemberRepositoryImpl.java
  server/src/main/java/com/example/tyfserver/payment/domain/Payment.java
  server/src/main/java/com/example/tyfserver/payment/util/Enum.java
  server/src/main/resources/binary/redis/redis-server-6.0.10-mac-arm64
  server/src/test/java/com/example/tyfserver/donation/DonationAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/donation/controller/DonationControllerTest.java
  server/src/test/java/com/example/tyfserver/donation/domain/DonationTest.java
  server/src/test/java/com/example/tyfserver/donation/repository/DonationRepositoryTest.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: server, refactor

#428 feat(client): 전역 user-select: none 제거
  client/main/src/Global.styles.ts
  client/main/src/components/@atom/Anchor/Anchor.styles.ts
  client/main/src/components/@atom/Button/Button.styles.ts
  client/main/src/components/@atom/IconButton/IconButton.styles.ts
  client/main/src/components/@atom/SubTitle/SubTitle.styles.ts
  client/main/src/components/@atom/Title/Title.styles.ts
  client/main/src/pages/MyPoint/MyPointPage.styles.ts
Labels: client, design

#432 feat(client): 도네이션 팝업 페이지 개선
  client/main/src/constants/error.ts
  client/main/src/constants/popup.ts
  client/main/src/pages/Donation/Amount/DonationAmountPage.styles.ts
  client/main/src/pages/Donation/Amount/DonationAmountPage.tsx
  client/main/src/pages/MyPoint/MyPointPage.tsx
  client/main/src/service/donation/useDonation.ts
  client/main/src/utils/queryString.ts
Labels: client

#433 feat(client): client server, cache-control 응답헤더 설정
  client/main/server/app.js
Labels: client

#434 feat(client): 회원가입, 설정, 정산신청페이지 setState시 trim 적용
  client/main/src/service/auth/useRegisterNickname.ts
  client/main/src/service/auth/useRegisterPageName.ts
  client/main/src/service/settlement/useSettlementAccountForm.ts
  client/main/src/service/user/useSettingForm.ts
Labels: client

#427 feat(client): 포인트 충전 모달 개선
  client/main/src/components/@atom/Checkbox/Checkbox.stories.tsx
  client/main/src/components/@atom/Checkbox/Checkbox.styles.ts
  client/main/src/components/@atom/Checkbox/Checkbox.tsx
  client/main/src/components/Donation/MessageForm/DonationMessageForm.tsx
  client/main/src/components/Login/LoginForm.styles.ts
  client/main/src/components/Point/ChargeModal/PointChargeModal.styles.ts
  client/main/src/components/Point/ChargeModal/PointChargeModal.tsx
  client/main/src/components/Point/ChargeModal/PointRadio/PointRadio.styles.ts
  client/main/src/components/Point/ChargeModal/PointRadio/PointRadio.tsx
  client/main/src/components/Register/TermsForm/RegisterTermsForm.styles.ts
  client/main/src/service/myPoint/useLoadScriptEffect.ts
Labels: feature, client

#430 feat(client): 어플리케이션 내 텍스트 변경
  client/main/src/components/Creator/CreatorInfo/Desktop/DesktopCreatorInfo.tsx
  client/main/src/components/Creator/CreatorInfo/Mobile/MobileCreatorInfo.tsx
  client/main/src/service/settlement/useSettlement.ts
Labels: client

#426 feat(client): 설정페이지, 이메일란(수정불가) 추가
  client/main/src/components/Setting/UserSettingForm/UserSettingForm.styles.ts
  client/main/src/components/Setting/UserSettingForm/UserSettingForm.tsx
Labels: client

#448 feat(client): 회원가입 체크박스 레이블, hover시 포인터 커서에서 일반 커서로 변경
  client/main/src/components/Register/TermsForm/RegisterTermsForm.styles.ts
Labels: client

#447 feat(client): POST /donations/public/{pageName} API 스키마변경
  client/main/src/service/@request/donation.ts
  client/main/src/service/donation/useDonationMessage.ts
Labels: client

#449 feat: 네브바, 메뉴 아이콘 추가
  client/main/src/assets/icons/drop-down.svg
  client/main/src/components/NavBar/NavBar.styles.ts
  client/main/src/components/NavBar/NavBar.tsx
Labels: client

#478 feat(client): 백오피스 로그인 이전 메뉴바 비활성화
  client/admin/src/components/NavBar/NavBar.tsx
  client/admin/src/service/useLogin.ts
Labels: client

#482 feat(client & server): 정산계좌 신청 시, 주민번호를 입력받는다.
  client/main/src/components/Settlement/Register/SettlementRegisterForm.styles.ts
  client/main/src/components/Settlement/Register/SettlementRegisterForm.tsx
  client/main/src/service/@request/settlement.ts
  client/main/src/service/settlement/useSettlementAccountForm.ts
  client/main/src/types.ts
  server/src/main/java/com/example/tyfserver/common/service/DummyDataService.java
  server/src/main/java/com/example/tyfserver/member/domain/Account.java
  server/src/main/java/com/example/tyfserver/member/domain/Member.java
  server/src/main/java/com/example/tyfserver/member/dto/AccountRegisterRequest.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/java/com/example/tyfserver/payment/util/ResidentRegistrationNumber.java
  server/src/main/java/com/example/tyfserver/payment/util/ResidentRegistrationNumberValidator.java
  server/src/main/resources/db/migration/prod/V2__ADD_Resident_registration_number.sql
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/controller/MemberControllerTest.java
  server/src/test/java/com/example/tyfserver/member/domain/MemberTest.java
  server/src/test/java/com/example/tyfserver/member/repository/MemberRepositoryImplTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
  server/src/test/java/com/example/tyfserver/payment/util/ResidentRegistrationNumberValidatorTest.java
Labels: feature, client, server

#507 fix(server): 도네이션 목록 API (페이지) 수정
  server/src/main/java/com/example/tyfserver/donation/domain/Message.java
  server/src/main/java/com/example/tyfserver/donation/dto/DonationResponse.java
  server/src/test/java/com/example/tyfserver/donation/service/DonationServiceTest.java
Labels: feature, server

#530 feat(server): 계좌등록 API에 계좌인증절차 추가
  server/src/main/java/com/example/tyfserver/member/controller/MemberController.java
  server/src/main/java/com/example/tyfserver/member/dto/AccountRegisterRequest.java
  server/src/main/java/com/example/tyfserver/member/exception/AccountHolderNameInvalidException.java
  server/src/main/java/com/example/tyfserver/member/exception/AccountInvalidException.java
  server/src/main/java/com/example/tyfserver/member/service/MemberService.java
  server/src/main/java/com/example/tyfserver/payment/domain/AccountInfo.java
  server/src/main/java/com/example/tyfserver/payment/domain/AccountInfoResponse.java
  server/src/main/java/com/example/tyfserver/payment/domain/PaymentServiceConnector.java
  server/src/main/java/com/example/tyfserver/payment/util/IamPortPaymentServiceConnector.java
  server/src/main/java/com/example/tyfserver/payment/util/MockPaymentServiceConnector.java
  server/src/test/java/com/example/tyfserver/admin/AdminAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/MemberAcceptanceTest.java
  server/src/test/java/com/example/tyfserver/member/service/MemberServiceTest.java
Labels: feature, server
